version: "3.8"

services:
  web:
    build: .
    ports:
      - "8000:8000"
    # Change #1: Removed code volume mount for production. Uncomment for development only.
    # volumes:
    #   - .:/app
    # Add this line to load environment variables from the .env.dev file
    env_file:
      - .env.dev
    depends_on:
      - db
    # Change #2: Removed --reload for production. Add back for development hot reload.
    command: ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8000"]

  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=pyadmin
    ports:
      - "5432:5432"

volumes:
  postgres_data:
